body {
    padding: 0;
    margin: 0;
    background-color: #862525;
  }

  /*--- navigation bar ---*/
  .navbar {
    background:#12002f;
    
  }
  .nav-link {
    color:#d86bfc;
  }
  .navbar-text{
    color:#ffffff;
    font-size: 1.3rem;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #ffffff;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  :target{
    padding-top:70px; /* = to height of navbar */
    margin-top:-70px;
  }
  /*--- ---------- ---*/

  /*--- background: neon lights ---*/
  .header {
    background-image: url('//i.imgur.com/RTcL027.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  /*--- ---------- ---*/

  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color: #4dff9d;
  }
  .description p {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .about {
    margin: 0em auto;
    padding: 3em;
    position: relative;
    background-color: #e6e8e6;
  }
  .about-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0px;
    text-transform: uppercase;
  }

  .about p {
    color: #333;
    font-size: 1.3rem;
    margin-bottom: 0px;
  }
 
  .features {
    margin: 0em auto;
    padding: 3em;
    position: relative;
    background-color: #862525;
  }
  .feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .features h1 {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }

  .page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
  }
  .footer-copyright {
    color: #666;
    padding: 40px 0;
  }
  .coursework {
    margin: 0em auto;
    padding: 3em;
    position: relative;
    background-color: #8d5a97;  
  }
  .coursework ul{
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .skill {
    border: 1px solid #ffffff;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.33333em;
    padding: 7px 18px;
    margin-top: 0.8em;
    border-radius: 8px;
    margin-bottom: 40px;
  }