body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
  }

  /*--- navigation bar ---*/
  .navbar {
    background:#c417e3;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #17cfe3;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  /*--- ---------- ---*/

  .header {
    background-image: url('https://imgur.com/a/AtNGPM4.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }