

body{
    background-color: rgb(241, 222, 173);
}

.topnav{
    background-color: #66e3db;
    overflow: hidden;
}

input{
    border-radius: 10px;
}

button{
    margin-top: 30px;
    background-color: rgb(100, 182, 248);
    color: black;
    border: solid black 2px;
    font-size: 2em;
}

nav{
    box-shadow: 5px 5px 2px grey;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin: 0 auto;

}

.form_content{
    margin: 0 auto;
    text-align: center;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 38px;
    text-decoration: none;
}



p{
    text-align: center;
    padding: 20px;
}